@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    function clearForm() {
        $('ff').form('clear');
    }
</script>

<div style="display:block;width:400px;margin:0 auto;text-align:left;margin-top:200px;">
    <div class="easyui-panel" title="登录界面" style="width:400px">
        <div style="padding:10px 60px 20px 60px">
            <form id="ff" action="Login" method="post">
                <div class="fitem">
                    <label>用户名:</label>
                    <input id="UserName" name="UserName" class="easyui-validatebox" required="required" value="admin" />
                    <div style="height:20px">
                    </div>
                    <div class="fitem">
                        <label>密&nbsp;&nbsp;码:</label>
                        <input id="UserPwd" name="USerPwd" class="easyui-validatebox" required="required" type="password" value="123" />
                    </div>
                    <div style="height:20px"></div>
                    <div style="text-align:center;padding:5px">
                        <input class="easyui-linkbutton" type="submit" value="登录" />
                        <input class="easyui-linkbutton" type="submit" value="清除" onclick="clearForm()" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
