@{
    ViewBag.Title = "GetAllUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Head{
        <script type="text/javascript">
            function OnLoadSuccess(data) {
                //alert(data);
            }

            function OnLoadError() {
                alert("error!");
            }

            function MSUserGridDblLickeRow(index,row) {
                //var url = $(this).attr("rel");
                //if (!$('#Maintabs').tabs('exists', $(this).text())) {
                //    $('#Maintabs').tabs('add', {
                //        title: $(this).text(),
                //        closable: true,
                //        fit: true,
                //        content: '<iframe scrolling="auto" frameborder="0" style="width:100%;height:100%;" src="' + url + '"></iframe>',
                //    });
                //
                if (!parent.$('#Maintabs').tabs('exists', row["Name"] + "详细信息")) {
                    parent.$('#Maintabs').tabs('add', {
                        title: row["Name"] + "详细信息",
                        closable: true,
                        fit: true,
                        content: '<iframe scrolling="auto" frameborder="0" style="width:100%;height:100%;" src="' + "/User/GetUSerInfo?name=" + row["Name"] + '"></iframe>'
                    });
                }

            }

            function RegisterUser() { }

            function EditUser() { }

            function RemoveUser() { }
        </script>
    }

<div region="center">
    <table class="easyui-datagrid" id="UserGrid" title="用户列表" 
        data-options="url:'/User/GetAllUserAction',fitColumns:true,singleSelect:true,rownumbers:true,striped:true,
        loadMsg:'正在加载。。。。',ctrSelect:true,
        pagination:true,pageSize:10,singleSelect:true,selectOnCheck:true,toolbar:'#toolbar',
        onDblClickRow:MSUserGridDblLickeRow,onLoadSuccess:OnLoadSuccess,onLoadError:OnLoadError
        ">
        <thead>
            <tr>
                <th data-options="field:'LoginName'">用户名</th>
                <th data-options="field:'DepartmentName'">部门</th>
                <th data-options="field:'PositionName'">职位</th>
            </tr>
        </thead>
    </table>
</div>
<div id="toolbar">
    <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true" onclick="AddUser()">添加</a>
    <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-edit',plain:true" onclick="EditUser()">编辑</a>
    <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-remove',plain:true" onclick="RemoveUser()">删除</a>
</div>
